<header class="head">
        <div class="head1">
            <a href="/"><h2 class="a" style="color: white;"><i class="fa-solid fa-snowflake"></i> WeatherApp <i class="fa-solid fa-snowflake"></i></h2></a>
            <input type="text" placeholder="search.." >
        </div>
        <div class="head2">
            <a href="/"><p style="color: rgb(234, 233, 233);;">Home</p></a>
            <a href="/weather"><p style="color: rgb(234, 233, 233);;">Weather</p></a>
            <a href="/about"><p style="color: rgb(234, 233, 233);;">About</p></a>
        </div>
    </header>